<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<meta name="description" content="A simple todo-list app by samhitha">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 <meta name="keywords" content="a simple todo app using python,simple todo app using django,todo app by samhitha">
<meta name="author" content="Samhitha">
<meta http-equiv="Cache-control" content="Cache-Control: max-age=31536000,public">
 <meta property="og:url" content="https://samhithatodo.herokuapp.com/viewtodo">
 <meta property="og:type" content="website">
 <meta property="og:title" content="TODOAPP BY SAMHITHA">
 <meta property="og:description" content="MY FIRST SIMPLE TODO-APP USING DJANGO">
  <meta property="og:image" content="https://1.bp.blogspot.com/-ALyHmkrwZEE/Xsatc9771bI/AAAAAAAACZA/oAqoQCm2Qv8Ee2vTQPPJVYcMgpZcb3NhACLcBGAsYHQ/s1600/custom%2B%25E2%2580%2593%2B1.png">
 </head>
<body>
 <!--nav bar todo -->

<div>
<nav class="navbar navbar-dark bg-dark">
   <a class="navbar-brand" href="#">TODO APP</a>
</nav>                                                      
</div>

 <!-- use todo iem input form -->
 {% csrf_token %}
<form action="addtodo" method="post">
<div class="form-group mx-sm-3 mb-2" style="position:fixed;top:25%;left:28%">
    <input type="text" class="form-control" size="50" placeholder="Enter Item" name="content">
 </div>
 <button type="submit" class="btn btn-primary mb-2" style="position:fixed;top:25%;left:60%">Submit</button>
</form>

 <!-- printing the items stored in database -->
 <div   style="position:fixed;top:35%;left:30%">
 <ul  class="list-group">
{%for item in items%}
<li class="list-group-item list-group-item-success w-3 p-100" style="height: 55px; padding: 10px 37px;">{{item.content}} 
<form action="deltodo{{item.id}}" 
      style="display:inline;" 
      method="post"
     >{%csrf_token%}
<input type="submit" value="delete"  class="btn btn-danger mb-2">
</form>
</li>
{% endfor %}
</ul>

</div>
</body>
</html>
